---
Language:        Cpp
BasedOnStyle:    LLVM
UseTab:          ForIndentation
TabWidth:        4
IndentWidth:     4
AccessModifierOffset: -4
IndentAccessModifiers: false
AlignAfterOpenBracket: Align
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
ColumnLimit:     100
IndentCaseLabels: false
SpaceBeforeParens: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
...
